@import "~bootstrap/scss/bootstrap";

$grey: #adc5ce;
$green: #cae1ea;

body {
  padding: 5rem;
}

body > .container {
  margin: auto;
}

.new-asset-panel {
  padding: 1rem;
  border-radius: 0.4rem;
  background: $grey;
}

.list-asset {
  list-style: none;

  li {
    padding: 1rem;
    background: $green;
    border-radius: 0.4rem;

    & + li {
      margin-top: 1rem;
    }
  }
}
